*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    padding: 20px;
  background-color: lightblue;
  text-align: center;
}
#sidebar{
    width: 25%;
    float: left;
    background-color: lightcoral;
}
#main{
    width: 75%;
    float: right;
    background-color: lightpink;
}
#footer{
    clear: both;
    padding: 20px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
li{
    padding: 10px;
}
li:hover{
    font-weight: bold;
    background: rgb(150,34,182);
background: linear-gradient(90deg, rgba(150,34,182,1) 0%, rgba(241,253,30,1) 24%, rgba(253,29,37,1) 50%, rgba(69,252,154,1) 100%);
}
h2{
    margin-bottom: 10px;
    color: rgb(182, 187, 31);;
}
img{
    float: right;
    width: 200px;
    margin: 10px;
}
#logo {
    float: left;  
    margin-right: 20px;  
    max-width: 100px;  
    height: auto;  
}

h1 {
    line-height: 100px;  
}
#nav{
    background-color: beige;
}